accelerate==1.6.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.10.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
astor==0.8.1
asttokens==3.0.0
async-lru==2.0.5
async-timeout==4.0.3
attrs==25.3.0
Authlib==1.6.1
babel==2.17.0
beautifulsoup4==4.13.4
blake3==1.0.5
bleach==6.2.0
boto3==1.40.25
botocore==1.40.25
Brotli==1.1.0
cachetools==6.1.0
cbor2==5.7.0
certifi==2022.12.7
cffi==1.17.1
charset-normalizer==2.1.1
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.3
compressed-tensors==0.10.2
contourpy==1.3.2
cryptography==45.0.6
cycler==0.12.1
dataclasses-json==0.6.7
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
deprecation==2.1.0
depyf==0.19.0
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
dnspython==2.7.0
einops==0.8.1
email_validator==2.2.0
exceptiongroup==1.3.0
executing==2.2.1
fastapi==0.116.1
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.5
fastjsonschema==2.21.2
ffmpy==0.6.1
filelock==3.13.1
fonttools==4.59.1
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2024.6.1
gguf==0.17.1
gradio==5.43.1
gradio_client==1.12.1
greenlet==3.2.4
groovy==0.1.2
grpcio==1.74.0
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
httpx-ws==0.7.2
huggingface-hub==0.34.4
icecream==2.1.8
idna==3.4
interegular==0.3.3
ipykernel==6.29.5
ipython==8.37.0
ipywidgets==8.1.7
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.4
jiter==0.10.0
jmespath==1.0.1
json5==0.12.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.9
landingai-ade==0.18.1
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.75
langchain-experimental==0.3.4
langchain-openai==0.3.32
langchain-text-splitters==0.3.10
langchain-weaviate==0.0.5
langsmith==0.4.20
lark==1.2.2
lm-format-enforcer==0.10.12
lmstudio==1.5.0
lxml==6.0.1
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.10.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mistral_common==1.8.4
mistune==3.1.4
mpmath==1.3.0
msgspec==0.19.0
multidict==6.6.4
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
ninja==1.13.0
notebook==7.4.7
notebook_shim==0.2.4
numpy>=2.1.0
omegaconf==2.3.0
openai==1.101.0
openai-harmony==0.0.4
opencv-python==4.11.0.86
opencv-python-headless==4.8.1.78
orjson==3.11.2
outlines_core==0.2.10
overrides==7.7.0
packaging==25.0
pandas==2.3.2
pandocfilters==1.5.1
parso==0.8.5
partial-json-parser==0.2.1.1.post6
pillow==11.3.0
platformdirs==4.5.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.22.1
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==6.32.0
psutil==7.1.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pybase64==1.4.2
pycountry==24.6.1
pycparser==2.22
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.19.2
PyMuPDF==1.26.0
pyngrok==7.3.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==3.3.0
python-multipart==0.0.20
pytz==2025.2
pywin32==311
pywinpty==3.0.2
PyYAML==6.0.2
pyzmq==27.1.0
referencing==0.36.2
regex==2025.7.34
requests==2.32.5
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.1.0
rich-toolkit==0.15.0
rignore==0.6.4
rpds-py==0.27.0
ruff==0.12.10
s3transfer==0.13.1
safehttpx==0.1.6
safetensors==0.6.2
scipy==1.15.3
semantic-version==2.10.0
Send2Trash==1.8.3
sentencepiece==0.2.1
sentry-sdk==2.35.0
setproctitle==1.3.6
shellingham==1.5.4
simsimd==6.5.1
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
soupsieve==2.7
soxr==0.5.0.post1
SQLAlchemy==2.0.43
stack-data==0.6.3
starlette==0.47.3
sympy==1.13.3
tenacity==9.1.2
terminado==0.18.1
tiktoken==0.7.0
tinycss2==1.4.0
tokenizers==0.21.4
tomli==2.3.0
tomlkit==0.13.3
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.47.0
typer==0.16.1
types-python-dateutil==2.9.0.20251008
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
uri-template==1.3.0
urllib3==1.26.13
uvicorn==0.35.0
validators==0.35.0
watchfiles==1.1.0
wcwidth==0.2.14
weaviate-client==4.16.9
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
widgetsnbextension==4.0.14
wsproto==1.2.0
yarl==1.20.1
zstandard==0.24.0
